/* div {
  border: 1px solid black;
} */

/* ########## Animation ######### */
button {
  transition: transform 0.3s;
}
button:hover {
  transform: scale(1.1);
}

/* ########## Slideshow ########### */

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slideshowDot {
  cursor: pointer;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #9500ff;
}

/* ############# Responsive Media Quries Testimonial Page ############### */
@media (max-width: 480px) {
  html {
    font-size: 60% !important;
  }
  .slideshowContainer {
    width: 100% !important;
    position: initial !important;
  }
  .testimonialCardContainer {
    width: 20rem !important;
  }
}
@media (min-width: 480px) and (max-width: 720px) {
  html {
    font-size: 80% !important;
  }
  .slideshowContainer {
    width: 90% !important;
  }
  .testimonialCardContainer {
    width: 25rem !important;
  }
}
@media (min-width: 720px) and (max-width: 1080px) {
  html {
    font-size: 90% !important;
  }
  .slideshowContainer {
    width: 80% !important;
  }
  .testimonialCardContainer {
    width: 25rem !important;
  }
}
